<ul class="nav nav-list">

<li class="nav-header"><h4><i class="icon-external-link"></i>معرفی</h4></li>
    <li><a href="{{ SITEURL }}/pages/about" >درباره</a></li>
    <li><a href="{{ SITEURL }}/pages/downloads">دانلود</a></li>                
    <li><a href="{{ SITEURL }}/pages/discuss">گفتگو</a></li>
    <li><a href="{{ SITEURL }}/pages/support">حمایت</a></li>

<li class="nav-header"><h4><i class="icon-home icon-large"></i>لینک ها</h4></li>
    <li><a href="http://instagram.com/khode_jadi" rel="alternate"><i class="icon-bookmark icon-large"></i>اینستاگرام</a></li>
    <li><a href="http://twitter.com/jadi" rel="alternate"><i class="icon-bookmark icon-large"></i>توییتر</a></li>
    <li><a href="http://jadi.net" rel="alternate"><i class="icon-bookmark icon-large"></i>وبلاگ جادی.نت</a></li>
    

<li class="nav-header"><h4><i class="icon-folder-close icon-large"></i>فصل ها</h4></li>
{% for article in articles %}
{% if article.category == 'chapters' %}
<li>
<a href="{{ SITEURL }}/{{ article.url }}">
    <i class="icon-folder-open icon-large"></i>{{ article.title }}
</a>
</li>
{% endif %}
{% endfor %}



{% include 'twitter_profile.html' %}
{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
